* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
body.locked {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #013298;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-moz-selection {
  background: #013298;
  color: #ffffff;
}

::selection {
  background: #013298;
  color: #ffffff;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

p {
  margin: 0;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: block;
}

svg {
  display: block;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
  cursor: pointer;
}

a {
  transition: all 0.3s;
  cursor: pointer;
}

input {
  outline: none;
  font-family: var(--general-font);
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  display: none;
}

main {
  width: 100%;
  min-height: 50vh;
}

section {
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.swiper {
  width: 100%;
  z-index: 0;
}
.swiper .swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.black_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 990;
  opacity: 0;
  animation: backdropAnimation 0.3s ease forwards;
}

.section_heading {
  width: 100%;
  padding: 20px 0;
}
.section_heading .section_heading_title {
  width: 100%;
  max-width: 600px;
  color: #301428;
  font-size: 30px;
  line-height: 1.2em;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
}
@media (min-width: 768px) {
  .section_heading .section_heading_title {
    font-size: 40px;
  }
}
.section_heading .section_heading_text {
  width: 100%;
  max-width: 600px;
  color: #301428;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.section_heading.content_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.section_heading.color_white .section_heading_title {
  color: #ffffff !important;
}
.section_heading.color_white .section_heading_text {
  color: #ffffff !important;
}

.page_heading {
  width: 100%;
  padding: 60px 0;
  background-color: #fafafa;
}
.page_heading .heading_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.page_heading .heading_inner .breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.page_heading .heading_inner .breadcrumbs a {
  font-size: 12px;
  font-family: "Jost", sans-serif;
  color: #301428;
  font-weight: 500;
  text-transform: uppercase;
}
.page_heading .heading_inner .breadcrumbs a:hover {
  color: #013298;
}
.page_heading .heading_inner .breadcrumbs i {
  font-size: 10px;
  color: #013298;
}
.page_heading .heading_inner .page_title {
  font-weight: 700;
  color: #301428;
}

.article_row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (min-width: 992px) {
  .article_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
  }
}
.article_row .article_text {
  width: 100%;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #301428;
  max-width: 600px;
}
@media (min-width: 1200px) {
  .article_row .article_text {
    font-size: 18px;
  }
}
.article_row .article_image {
  width: 100%;
  max-width: 600px;
}
.article_row .article_image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@keyframes menuLineAnimate {
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}
@keyframes menuLineAnimateReverse {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-6px) rotate(0deg);
  }
}
@keyframes menuLineAnimate2 {
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(45deg);
  }
}
@keyframes menuLineAnimate2Reverse {
  0% {
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(4px) rotate(0deg);
  }
}
@keyframes rotateMenuIcon {
  100% {
    transform: rotate(90deg);
  }
}
@keyframes backdropAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  width: 100%;
  position: relative;
  z-index: 9990;
}
header nav {
  width: 100%;
  background-color: #fff;
}
header nav .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
header nav .inner_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
header nav .inner_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
header .top_nav {
  display: none;
  background-color: #f7f7f7;
}
@media (min-width: 1200px) {
  header .top_nav {
    display: block;
  }
}
header .top_nav .contact_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .top_nav .contact_link i {
  font-size: 14px;
  color: #013298;
}
header .top_nav .contact_link span {
  font-family: Jost;
  font-weight: 500;
  font-style: normal;
  color: #5e5058;
  font-size: 14px;
}
@media (min-width: 1200px) {
  header .mobile_nav {
    display: none;
  }
}
header .mobile_nav .logo {
  display: block;
  width: 105px;
  height: 70px;
}
header .mobile_nav .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .mobile_nav .menu_button {
  width: 90px;
  height: 45px;
  background-color: #013298;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
  position: relative;
}
header .mobile_nav .menu_button_icon {
  width: 16px;
  height: 16px;
  position: relative;
  display: block;
}
header .mobile_nav .menu_button_icon .icon_line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
}
header .mobile_nav .menu_button_icon .icon_line:nth-child(1) {
  transform: translateY(-6px);
  animation: menuLineAnimateReverse 600ms ease-in-out;
}
header .mobile_nav .menu_button_icon .icon_line:nth-child(2) {
  opacity: 1;
}
header .mobile_nav .menu_button_icon .icon_line:nth-child(3) {
  transform: translateY(4px);
  animation: menuLineAnimate2Reverse 600ms ease-in-out;
}
header .mobile_nav .menu_button_label {
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
header .mobile_nav .menu_button:active {
  background-color: #00CDF9;
}
header .mobile_nav .menu_button.active .menu_button_icon {
  animation: rotateMenuIcon 600ms ease-in-out forwards;
}
header .mobile_nav .menu_button.active .menu_button_icon .icon_line:nth-child(1) {
  animation: menuLineAnimate 600ms ease-in-out forwards;
}
header .mobile_nav .menu_button.active .menu_button_icon .icon_line:nth-child(2) {
  transform: scale(0);
  opacity: 0;
}
header .mobile_nav .menu_button.active .menu_button_icon .icon_line:nth-child(3) {
  animation: menuLineAnimate2 600ms linear forwards;
}
header .general_nav {
  display: none;
}
@media (min-width: 1200px) {
  header .general_nav {
    display: block;
  }
}
header .general_nav .logo {
  display: block;
  width: 205px;
  height: 125px;
}
header .general_nav .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .general_nav .nav_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  align-items: stretch;
  gap: 15px;
}
header .general_nav .nav_links .link_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
header .general_nav .nav_links .link_item .main_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
header .general_nav .nav_links .link_item .main_row a {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #013298;
}
header .general_nav .nav_links .link_item .main_row a:active {
  color: #00CDF9;
}
header .general_nav .nav_links .link_item .main_row button {
  font-size: 12px;
}
header .general_nav .nav_links .link_item.no_child .main_row button {
  display: none;
}
header .general_nav .nav_links .link_item .link_menu {
  position: absolute;
  top: 80%;
  left: 0;
  min-width: 200px;
  background-color: #013298;
  display: none;
}
header .general_nav .nav_links .link_item .link_menu .link_menu_inner {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
header .general_nav .nav_links .link_item .link_menu .link_menu_inner::before {
  content: "";
  position: absolute;
  border: 10px solid #013298;
  top: -10px;
  left: 15px;
  transition: all 0.3s;
  border-top-color: transparent;
  border-right-color: transparent;
}
header .general_nav .nav_links .link_item .link_menu .link_item {
  width: 100%;
  padding: 0;
}
header .general_nav .nav_links .link_item .link_menu .link_item .main_row {
  width: 100%;
}
header .general_nav .nav_links .link_item .link_menu .link_item .main_row a {
  color: #fff;
}
header .general_nav .nav_links .link_item .link_menu .link_item .main_row a:active {
  color: #00CDF9;
}
header .general_nav .inner_right {
  align-self: stretch;
  gap: 20px;
}
header .general_nav .inner_right .langugages {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
header .general_nav .inner_right .langugages a {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "DM Sans", sans-serif;
  color: #013298;
  opacity: 0.7;
}
header .general_nav .inner_right .langugages a.active {
  opacity: 1;
}
header .general_nav .inner_right .contact_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: #013298;
  color: #fff;
  font-family: "Jost", sans-serif;
}
header .general_nav .inner_right .contact_link .link_sub_title {
  opacity: 0.6;
  font-size: 11px;
}
header .general_nav .inner_right .contact_link:active {
  background-color: #00CDF9;
}

.mobile_menu {
  position: fixed;
  width: 90%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 9999;
}
@media (min-width: 1200px) {
  .mobile_menu {
    display: none !important;
  }
}
.mobile_menu .container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.mobile_menu .container::-webkit-scrollbar {
  width: 4px;
}
.mobile_menu .mobile_menu_inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.mobile_menu .mobile_menu_inner .menu_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item .main_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item .main_row a {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #013298;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item .main_row a:active {
  color: #00CDF9;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item .main_row button {
  font-size: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #013298;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item .main_row:hover {
  border-color: #013298;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item .link_menu {
  width: 100%;
  display: none;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item .link_menu .link_menu_inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item .link_menu .link_menu_inner .main_row {
  padding-left: 15px;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item.no_child .main_row button {
  display: none;
}
.mobile_menu .mobile_menu_inner .menu_links .link_item.active .main_row button {
  transform: rotate(-180deg);
}
.mobile_menu .mobile_menu_inner .inner_bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  margin-top: 20px;
}
.mobile_menu .mobile_menu_inner .langugages {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.mobile_menu .mobile_menu_inner .langugages a {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "DM Sans", sans-serif;
  color: #013298;
  opacity: 0.7;
}
.mobile_menu .mobile_menu_inner .langugages a.active {
  opacity: 1;
}
.mobile_menu .mobile_menu_inner .contact_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  background-color: #013298;
  color: #fff;
  font-family: "Jost", sans-serif;
}
.mobile_menu .mobile_menu_inner .contact_link .link_sub_title {
  opacity: 0.6;
  font-size: 11px;
}
.mobile_menu .mobile_menu_inner .contact_link:active {
  background-color: #00CDF9;
}

footer {
  width: 100%;
  padding: 40px 0;
}
footer .footer_nav {
  width: 100%;
  margin-bottom: 40px;
}
footer .footer_nav .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 992px) {
  footer .footer_nav .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}
footer .footer_nav .logo {
  display: block;
  width: 205px;
  height: 125px;
}
footer .footer_nav .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer_nav .footer_nav_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 992px) {
  footer .footer_nav .footer_nav_links {
    width: auto;
    justify-content: flex-end;
    gap: 25px;
  }
}
footer .footer_nav .footer_nav_links a {
  font-family: "Jost", sans-serif;
  color: #423639;
  font-weight: 600;
  display: block;
}
footer .footer_nav .footer_nav_links a:hover {
  color: #013298;
}
footer .footer_nav .footer_nav_links a:active {
  color: #00CDF9;
}
footer .footer_nav .footer_nav_links .hover_line {
  position: absolute;
  top: 100%;
  height: 1px;
  width: 0;
  background-color: #013298;
  transition: all 0.3s;
  display: none;
}
@media (min-width: 768px) {
  footer .footer_nav .footer_nav_links .hover_line {
    display: block;
  }
}
footer .footer_center {
  width: 100%;
  padding: 40px 0;
}
footer .footer_center .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
@media (min-width: 1200px) {
  footer .footer_center .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    gap: 120px;
  }
}
footer .footer_center .inner .inner_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
footer .footer_center .inner .inner_right {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
@media (min-width: 1200px) {
  footer .footer_center .inner .inner_right {
    flex-wrap: nowrap;
  }
}
footer .footer_center .inner .footer_center_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  max-width: 400px;
}
footer .footer_center .inner .footer_center_content .content_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: #013298;
}
footer .footer_center .inner .footer_center_content .content_text {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  color: #423639;
}
footer .footer_center .inner .search_form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer_center .inner .search_form input {
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 55px;
  padding: 15px;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}
footer .footer_center .inner .search_form input:focus {
  border-color: #013298;
}
footer .footer_center .inner .search_form button {
  width: 70px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #013298;
  color: #fff;
  font-size: 18px;
}
footer .footer_center .inner .footer_center_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  max-width: 250px;
}
footer .footer_center .inner .footer_center_col .col_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: #013298;
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer .footer_center .inner .footer_center_col .col_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
footer .footer_center .inner .footer_center_col .col_links a {
  display: block;
  padding-left: 25px;
  color: #423639;
  font-family: "Jost", sans-serif;
  position: relative;
}
footer .footer_center .inner .footer_center_col .col_links a::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 1px;
  background-color: #013298;
  top: 10px;
  left: 0;
}
footer .footer_center .inner .footer_center_col .col_links a:hover {
  color: #013298;
}
footer .footer_center .inner .footer_center_col .col_links a:active {
  color: #00CDF9;
}
footer .footer_bottom {
  width: 100%;
  position: relative;
}
footer .footer_bottom .inner {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
@media (min-width: 992px) {
  footer .footer_bottom .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    text-align: start;
  }
}
footer .footer_bottom .inner .copyright {
  font-family: "Jost", sans-serif;
  color: #423639;
}
footer .footer_bottom .inner .social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
footer .footer_bottom .inner .social_media a {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #423639;
}
footer .footer_bottom .inner .social_media a:hover {
  background-color: #013298;
  color: #fff;
}

.banner_section {
  position: relative;
  padding: 0;
}
@media (min-width: 992px) {
  .banner_section {
    margin-bottom: 150px;
  }
}
.banner_section .banner_slider {
  width: 100%;
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_section .banner_slider .gradient_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #013298 18%, rgba(152, 15, 90, 0.0196078431) 100%);
  opacity: 0.58;
  z-index: 0;
}
.banner_section .banner_slider .container {
  z-index: 10;
}
.banner_section .banner_slider .banner_slider_content {
  padding: 60px 0;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  color: #fff;
}
.banner_section .banner_slider .banner_slider_content .content_title {
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  opacity: 0;
  transition: all 1s;
  transform: translateY(-40px);
}
.banner_section .banner_slider .banner_slider_content .design_line {
  width: 0;
  height: 2px;
  background-color: #00CDF9;
  transition: all 1s;
}
.banner_section .banner_slider .banner_slider_content .content_text {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5em;
  opacity: 0;
  transition: all 1s;
  transform: translateY(40px);
}
@media (min-width: 768px) {
  .banner_section .banner_slider .banner_slider_content {
    padding: 130px 0;
  }
  .banner_section .banner_slider .banner_slider_content .content_title {
    font-size: 60px;
  }
}
@media (min-width: 1400px) {
  .banner_section .banner_slider .banner_slider_content {
    padding: 180px 0;
  }
  .banner_section .banner_slider .banner_slider_content .content_title {
    font-size: 80px;
  }
  .banner_section .banner_slider .banner_slider_content .content_text {
    font-size: 24px;
  }
}
.banner_section .swiper-slide-active .banner_slider .banner_slider_content .content_title {
  opacity: 1;
  transform: translateY(0);
}
.banner_section .swiper-slide-active .banner_slider .banner_slider_content .design_line {
  width: 120px;
}
.banner_section .swiper-slide-active .banner_slider .banner_slider_content .content_text {
  opacity: 1;
  transform: translateY(0);
}
.banner_section .banner_contact_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .banner_section .banner_contact_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
  }
}
.banner_section .banner_contact_wrapper .contact_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #013298;
  color: #fff;
  gap: 30px 20px;
  border-bottom: 1px solid #00CDF9;
  cursor: normal;
}
@media (min-width: 576px) {
  .banner_section .banner_contact_wrapper .contact_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 992px) {
  .banner_section .banner_contact_wrapper .contact_item {
    border-bottom: none;
    border-right: 1px solid #00CDF9;
  }
}
.banner_section .banner_contact_wrapper .contact_item:hover {
  background-color: #00CDF9;
}
.banner_section .banner_contact_wrapper .contact_item .item_icon {
  font-size: 35px;
}
.banner_section .banner_contact_wrapper .contact_item .item_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  max-width: 250px;
}
@media (min-width: 576px) {
  .banner_section .banner_contact_wrapper .contact_item .item_content {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.banner_section .banner_contact_wrapper .contact_item .item_content .item_value {
  font-size: 18px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  font-style: normal;
}
.banner_section .banner_contact_wrapper .contact_item .item_content .item_text {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-style: normal;
}

.services_section .cards_container {
  z-index: 20;
}
.services_section .services_wrapper {
  padding: 30px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  place-items: center;
}
@media (min-width: 768px) {
  .services_section .services_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .services_section .services_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.services_section .services_wrapper .service_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.services_section .services_wrapper .service_card .card_icon {
  width: 60px;
  height: 60px;
}
.services_section .services_wrapper .service_card .card_icon img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.services_section .services_wrapper .service_card .card_title {
  text-transform: uppercase;
  color: #4c4c4c;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.services_section .services_wrapper .service_card .design_line {
  width: 120px;
  height: 2px;
  background-color: #013298;
}
.services_section .services_wrapper .service_card .card_text {
  color: #4c4c4c;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  line-height: 1.9em;
}
.services_section .services_wrapper .service_card .arrow_btn {
  font-size: 20px;
  color: #013298;
}
.services_section .services_wrapper .service_card .arrow_btn:hover {
  transform: translateX(10px);
}
.services_section .services_wrapper .service_card:hover .card_title {
  color: #013298;
}
.services_section .services_wrapper .service_card:hover .design_line {
  animation: lineAnimation 0.5s ease forwards;
}
.services_section .services_content {
  width: 100%;
  padding: 80px 0;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .services_section .services_content {
    padding: 300px 0 100px;
    z-index: -1;
    margin-top: -250px;
  }
}
.services_section .services_content .bg_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.services_section .services_content .container {
  z-index: 10;
}
.services_section .services_content .section_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.services_section .services_content .section_heading .design_line {
  width: 120px;
  height: 2px;
  background-color: #00CDF9;
}
@media (min-width: 768px) {
  .services_section .services_content .section_heading {
    align-items: center;
    text-align: center;
  }
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}
.about_section {
  background-color: #fdfdfd;
  padding: 60px 0;
}
.about_section .about_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
}
@media (min-width: 992px) {
  .about_section .about_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    gap: 0;
    z-index: 0;
  }
}
.about_section .about_wrapper .about_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  background-color: #fff;
  position: relative;
}
.about_section .about_wrapper .about_content .content_inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
@media (min-width: 992px) {
  .about_section .about_wrapper .about_content .content_inner {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .about_section .about_wrapper .about_content {
    justify-content: flex-start;
    padding-bottom: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: var(--image);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 50% auto;
  }
  .about_section .about_wrapper .about_content .content_inner {
    padding: 60px 80px;
    margin-bottom: 50px;
  }
}
.about_section .about_wrapper .about_content .section_heading {
  width: 100%;
  max-width: 450px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about_section .about_wrapper .about_content .section_heading .section_heading_uptext {
  width: 100%;
  max-width: 250px;
  font-weight: 600;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  line-height: 1.3em;
}
.about_section .about_wrapper .about_content .section_heading .design_line {
  width: 120px;
  height: 2px;
  background-color: #013298;
}
.about_section .about_wrapper .about_content .about_text {
  width: 100%;
  max-width: 500px;
  font-size: 18px;
  font-family: "Jost", sans-serif;
  line-height: 1.6em;
  color: #4c4c4c;
}
.about_section .about_wrapper .about_image {
  width: 100%;
}
.about_section .about_wrapper .about_image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.about_section .about_report {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: relative;
}
@media (min-width: 768px) {
  .about_section .about_report {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
  }
}
.about_section .about_report .report_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
  background-color: #013298;
  color: #fff;
  font-family: "Jost", sans-serif;
  text-align: center;
}
@media (min-width: 992px) {
  .about_section .about_report .report_item {
    padding: 40px 30px;
  }
}
.about_section .about_report .report_item:last-child {
  background-color: #00CDF9;
}
.about_section .about_report .report_item .item_value {
  font-size: 40px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .about_section .about_report .report_item .item_value {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .about_section .about_report .report_item .item_value {
    font-size: 40px;
  }
}
.about_section .about_report .report_item .item_label {
  font-size: 15px;
}

.news_section {
  padding: 0;
  min-height: 100vh;
  background-color: #fafafa;
}
@media (min-width: 1200px) {
  .news_section {
    background-image: var(--image);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 30% auto;
  }
}
.news_section .partners_wrapper {
  padding: 60px;
  width: 100%;
  position: relative;
}
.news_section .partners_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.news_section .partners_wrapper .partner_swiper {
  z-index: 10;
}
.news_section .partners_wrapper .partner_logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  height: 150px;
}
.news_section .partners_wrapper .partner_logo img {
  max-width: 100%;
  height: auto;
  max-height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.news_section .news_wrapper {
  padding: 80px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.news_section .news_wrapper .section_heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.news_section .news_wrapper .section_heading .design_line {
  width: 120px;
  height: 2px;
  background-color: #013298;
}
.news_section .news_wrapper .news_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
@media (min-width: 992px) {
  .news_section .news_wrapper .news_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-items: stretch;
    gap: 40px;
  }
}
.news_section .news_wrapper .news_container .container_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.news_section .news_wrapper .news_container .container_col::-webkit-scrollbar {
  width: 4px;
}
.news_section .news_wrapper .news_container .container_col.col_2 {
  height: 600px;
}
@media (min-width: 992px) {
  .news_section .news_wrapper .news_container .container_col {
    min-height: 700px;
    overflow: auto;
  }
}
.news_section .news_wrapper .news_container .all_news_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  color: #fff;
  background-color: #013298;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.news_section .news_wrapper .news_container .all_news_button:active {
  background-color: #00CDF9;
}
.news_section .news_wrapper .news_container .news_banners {
  width: 100%;
  max-width: 450px;
}
.news_section .news_wrapper .news_container .news_banners .banner_item {
  width: 100%;
  min-height: 400px;
  position: relative;
}
@media (min-width: 768px) {
  .news_section .news_wrapper .news_container .news_banners .banner_item {
    min-height: 550px;
  }
}
.news_section .news_wrapper .news_container .news_banners .banner_item .news_image {
  width: 100%;
  min-height: 400px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .news_section .news_wrapper .news_container .news_banners .banner_item .news_image {
    min-height: 550px;
  }
}
.news_section .news_wrapper .news_container .news_banners .banner_item .item_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 56%, rgba(0, 0, 0, 0.55) 100%);
}
.news_section .news_wrapper .news_container .news_banners .banner_item .item_content .item_badge {
  align-self: flex-end;
  background-color: #f7db60;
  color: #000;
  font-size: 12px;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  opacity: 0;
  transform: rotateX(90deg);
  animation: bannerBadgeAnimation 1s ease forwards;
}
.news_section .news_wrapper .news_container .news_banners .banner_item .item_content .item_bottom {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
@media (min-width: 768px) {
  .news_section .news_wrapper .news_container .news_banners .banner_item .item_content .item_bottom {
    padding: 30px;
  }
}
.news_section .news_wrapper .news_container .news_banners .banner_item .item_content .item_bottom .item_date_author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  animation: bannerContentAnimation 1s ease forwards;
}
.news_section .news_wrapper .news_container .news_banners .banner_item .item_content .item_bottom .item_title {
  opacity: 0;
  transform: translateY(20px);
  animation: bannerContentAnimation 1s ease forwards;
}
.news_section .news_wrapper .news_container .news_banners .banner_item .item_content .item_bottom .item_title a {
  color: #fff;
  display: inline;
  position: relative;
  background: linear-gradient(to right, #fff 0%, #fff 100%);
  background-size: 0 2px;
  background-position: 0 99%;
  padding: 0.1% 0;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
.news_section .news_wrapper .news_container .news_banners .banner_item .item_content .item_bottom .item_title:hover a {
  background-size: 100% 2px;
}
.news_section .news_wrapper .news_container .news_list {
  width: 100%;
  max-width: 450px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  overflow-y: auto;
}
.news_section .news_wrapper .news_container .news_list::-webkit-scrollbar {
  width: 4px;
}
@media (min-width: 992px) {
  .news_section .news_wrapper .news_container .news_list {
    height: 100%;
    max-height: 100%;
  }
}
@media (min-width: 1200px) {
  .news_section .news_wrapper .news_container .news_list {
    max-width: 340px;
  }
}
.news_section .news_wrapper .news_container .news_list .list_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.news_section .news_wrapper .news_container .news_list .list_item .item_title a {
  color: #301428;
  display: inline;
  position: relative;
  background: linear-gradient(to right, #301428 0%, #301428 100%);
  background-size: 0 2px;
  background-position: 0 99%;
  padding: 0.1% 0;
  background-repeat: no-repeat;
  transition: all 0.3s;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}
.news_section .news_wrapper .news_container .news_list .list_item .item_title:hover a {
  background-size: 100% 2px;
}
.news_section .news_wrapper .news_container .news_list .list_item .item_text {
  color: #4c4c4c;
  opacity: 0.7;
}
.news_section .news_wrapper .news_container .news_list .list_item .item__bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #4c4c4c;
}

@keyframes bannerContentAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bannerBadgeAnimation {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}/*# sourceMappingURL=styles.css.map */