$primary-font: "DM Sans", sans-serif;
$secondary-font: "Jost", sans-serif;

$primary-color: #013298;
$secondary-color: #00CDF9;

$text-color-1: #301428;
$text-color-2: #4c4c4c;
$text-color-3: #423639;
$text-color-4: #ffffff;

$bg-color-1: #f7f7f7;
$bg-color-2: #fdfdfd;
$bg-color-3: #fafafa;

// black white level
$black-1: rgba(0,0,0,0.1);
$black-2: rgba(0,0,0,0.2);
$black-3: rgba(0,0,0,0.3);
$black-4: rgba(0,0,0,0.4);
$black-5: rgba(0,0,0,0.5);
$black-6: rgba(0,0,0,0.6);
$black-7: rgba(0,0,0,0.7);
$black-8: rgba(0,0,0,0.8);
$black-9: rgba(0,0,0,0.9);

$white-1: rgba(255,255,255,0.1);
$white-2: rgba(255,255,255,0.2);
$white-3: rgba(255,255,255,0.3);
$white-4: rgba(255,255,255,0.4);
$white-5: rgba(255,255,255,0.5);
$white-6: rgba(255,255,255,0.6);
$white-7: rgba(255,255,255,0.7);
$white-8: rgba(255,255,255,0.8);
$white-9: rgba(255,255,255,0.9);